- if domain_presenter.errors.any?
  = render 'shared/global_alert', variant: :danger, dismissible: false do
    - domain_presenter.errors.full_messages.each do |msg|
      = msg

.form-group.border-section
  .row
    - if domain_presenter.persisted?
      .col-sm-2
        = _("Domain")
      .col-sm-10
        = external_link(domain_presenter.url, domain_presenter.url)
    - else
      .col-sm-2
        = f.label :domain, _("Domain")
      .col-sm-10
        .input-group
          = f.text_field :domain, required: true, autocomplete: "off", class: "form-control"

- if domain_presenter.persisted?
  = render 'dns'

- if Gitlab.config.pages.external_https
  = render 'certificate', f: f
- else
  .border-section.nothing-here-block
    = _("Support for custom certificates is disabled. Ask your system's administrator to enable it.")
